<!DOCTYPE html>
<html>
<head>
  <title>Notifications</title>
  <%= stylesheet_link_tag    "notifications/application", media: "all" %>
  <%= javascript_include_tag "notifications/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
