<% if notification.second_target && notification.target %>
<div class="media-heading">
  Comment on <%= link_to notification&.second_target&.title, main_app.topic_path(notification.second_target) %>:
</div>
<div class="media-content">
  <%= simple_format notification&.target&.body %>
</div>
<% end %>
