.notifications {
  padding: 10px;
  margin: 20px;
  border: 1px solid #eee;
  border-radius: 3px;

  .heading {
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
  }

  .notification {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;

    &.read {
      * { color: #999 !important; }
    }

    .media-heading {
      color: #000;
    }

    .media-content {
      color: #999;

      p:last-chind {
        margin-bottom: 0;
      }
    }

    .user-avatar {
      img { width: 24px; height: 24px; border-radius: 120px; }
    }

    .media-right {
      min-width: 100px;
      color: #AAA;
      font-size: 13px;
    }
  }
}
