<div class="notifications row">
  <div class="heading clearfix">
    <%= t('notifications.all_notifications') %>

    <span class="pull-xs-right">
      <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-danger', method: 'delete' %>
    </span>
  </div>
  <div class="list">
    <%= render @notifications %>
  </div>
</div>
